* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #1f2125;
    font-family: Open Sans;
}

.wrapper{
        max-width: 1000px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "welcome welcome welcome welcome welcome welcome"
        "footer footer footer footer footer footer" ;
}

h1, h2, h3,p{
    color:blanchedalmond;
}

h1{
    font-size: 6rem;
    margin: 0;
    padding-bottom: 3rem;
    text-align: center;
}

h2{
    font-size: 1.3rem;
    margin: 0.5rem 0rem 0.5rem 0;
}

p{
    font-size: 0.8rem;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 40 

  }

.navigation{ 
    margin-top: 3rem;
    margin-bottom: 2rem;
    grid-area: navigation;
    height: 1rem;
    font-weight: 700; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.navigation__object{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.welcome{
    grid-area: welcome;
    background-image: url(/assets/photos/09-night.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 35rem;
}

.welcome__logo{
    padding-top: 5rem;
    width: 6rem;
}

.welcome__headning{
    color: black;
    margin: 0;
    font-size: 4rem;
    padding-bottom: 0;
    text-align: left;
}

.welcome__sub-headning{
    margin-top: 0rem;
    font-size: 1rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.welcome__logo, .welcome__headning, .welcome__sub-headning{
    margin-left: 11rem;
    }

/**** Booking ****/
.wrapper-booking{
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    ". navigation navigation navigation navigation ."
    "booking booking booking booking booking booking"
    "book book book book book book"
    "rooms rooms rooms rooms rooms rooms"
    "footer footer footer footer footer footer" ;
}

  .navigation-logotype{
    width: 2rem;
    height: 2rem;
  }

.booking{
    grid-area: booking;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book{
    grid-area: book;
    background-color: #333436;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.book__date{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 9rem;
    background-color: rgb(70, 69, 67);
    border: solid 1px #333436;
    justify-content: space-around;
    border-radius: 2px;
}

.book__button{
    width: 4.4rem;
    height: 2.7rem;
    font-size:11px;
    border-radius: 2px;
    border-style: none;
    padding: 0.5em;
    background-color: rgb(16, 17, 17);
    color: rgb(229, 235, 240);
    font-weight: 600;
    text-align: center;
}

/*ROOMS*/
.rooms__button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    background-color: blanchedalmond;
    border-style: none;
}

.rooms__text h2{
    font-size: 2rem;
}
.rooms__text{
    max-width: 24rem;
}

.rooms{
    grid-area: rooms;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.room{
    display: flex;
    flex-direction: column;
    width:25.2rem;
    margin: 2rem 0.2rem 2rem 0.2rem;
}

.rooms__singel{
    background-image: url("../assets/photos/01-day.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    margin: 0;
}

.rooms__dubbel{
    background-image: url("../assets/photos/04-day.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    margin: 0;
}

.rooms__loft{
    background-image: url("../assets/photos/06-day.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    margin: 0;
}

.rooms__cabin{
    background-image: url("../assets/photos/08-night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    margin: 0;
}

.rooms__symbols{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    color: blanchedalmond; 
    align-items: center;
    max-width: 25rem;
    justify-items: center;
}

.rooms__symbols-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

}


/***About us***/

.wrapper-about{
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    ". navigation navigation navigation navigation ."
    "about-us about-us about-us about-us about-us about-us"
    "about about about about about about"
    "facilities facilities facilities facilities facilities facilities"
    "footer footer footer footer footer footer"
}

.about-us{
    grid-area: about-us;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.about{
    grid-area: about;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: about;
    background-color:  #211e1d;
}

.about__box{
    padding:0.9rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px rgb(26, 17, 5);
}

.overhead-cabin{
    background-image: url("../assets/photos/07-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cabin-img{
    background-image: url("../assets/photos/03-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hike-img{
    background-image: url("../assets/photos/elyse-turton-uwrWzRKRd3M-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wintercabin-img{
    background-image: url("/assets/photos/redd-f-DeChBE0mpbk-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.firewood-img{
    background-image: url("/assets/photos/08-day.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about__headline{
    margin-bottom: 0;
}

.facilities{
    grid-area: facilities;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.facilities__list{
    color:blanchedalmond ;
    list-style: none;
    line-height: 1.6rem;
    max-width:15rem;
    font-size: 0.9rem;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    text-align: center;
    color: beige;
    background-color: #211e1d;
    padding: 2rem;
    column-gap:3rem;
}

@media screen and (max-width:768px){
    h1{
        margin-top: 1rem;
        font-size: 4rem;
    }
    
    .wrapper{
        grid-template-rows: repeat(6 ,1fr);
        grid-template-columns: 100%;
        grid-template-areas: 
        "welcome"
        "footer";
}
    .welcome{
        height: 26.9rem;
    }
    .welcome__logo, .welcome__headning, .welcome__sub-headning{
    margin-left: 7rem;
    }
    .welcome__logo{
        padding-top: 2rem;
    }

    .welcome__headning{
    font-size: 4rem;
}

    .wrapper-booking{
        grid-template-columns: 100%;
        grid-template-areas: 
        "navigation"
        "booking"
        "book"
        "rooms"
        "footer" ;}
 
    .book{
        justify-content: center;
    }

    .book__button{
        width: 9rem;
        height: 2.8rem;
    }

    .wrapper-about{
        grid-template-columns: 100%;
        grid-template-areas: 
        "navigation"
        "about-us"
        "about"
        "facilities"
        "footer" ;}

}


@media screen and (max-width:320px) {
    
    .wrapper-about{
        grid-template-columns: 100%;
        grid-template-areas: 
        "navigation"
        "about-us"
        "about"
        "facilities"
        "footer" ;}

    .navigation {
        margin-top: 0.5rem;
        margin-bottom: 0.9rem;
        font-size: 0.8rem;
    }
    .welcome{
        height: 11.3rem;
    }
    .welcome__logo, .welcome__headning, .welcome__sub-headning{
        margin-left: 2rem;
    }

    .welcome__logo{
        padding-top: 0rem;
        width: 4rem;
        margin-top: 0rem;
    }

    .welcome__headning{
        font-size: 1.8rem;
    }

    .welcome__sub-headning{
        font-size: 0.6rem;;
    }

    .about{
        grid-template-columns: repeat(1,1fr);
    }

    .facilities{
        display: flex;
        flex-direction: column;
  
    }
    .footer{
        flex-direction: column;
    }

}
